body {
     background-color: #202022;
}

.at-selection div {
  background: rgba(64, 64, 255, 0.1);
}

.at-cursor-bar {
  //background: rgba(255, 255, 255, 0.05);
}

.at-cursor-beat {
  background: rgba(20, 148, 27, 0.8) ;
  width: 3px;
}

.at-highlight * {
  fill: #0078ff;
  stroke: #0078ff;
}
